<div class="favorites--hero">
  <h1>My Favorite Animals</h1>
</div>
<div class="favorites--wrapper">
<% @favorites.each do |favorite| %>
  <div class="panel">
    <div class="favorites--data">
      <div class="pet-photo--container">
        <% if favorite.avatar_url %>
          <%= image_tag(favorite.avatar_url) %>
        <% else %>
          <%= image_tag("pet-icon.png") %>
        <% end %>
      </div>


      <% if favorite.pet_name %>
        <h2><%= favorite.pet_name %></h2>
      <% end %>

      <ul>
        <% if favorite.pet_breed %>
          <li><%= favorite.pet_breed %>!</li>
        <% end %>

        <% if favorite.pet_gender %>
          <li><%= favorite.pet_gender %></li>
        <% end %>

        <% if favorite.pet_age %>
          <li><%= favorite.pet_age %></li>
        <% end %>

      </ul>

      <% if favorite.shelter %>
        <h5><%= favorite.shelter %></h5>
      <% end %>

      <ul>
        <% if favorite.email %>
          <li>Email: <%= favorite.email %></li>
        <% end %>

        <% if favorite.phone %>
          <li>Phone: <%= favorite.phone %></li>
        <% end %>
      </ul>
      <%= link_to "Remove Favorite?", favorite_path(favorite.id), method: :delete %>
    </div>
  </div>
<% end %>
</div>
