<div class="wrapper">
  <div class="filter--container">
    <div class="filter-results--container">
      <%= form_tag pets_path, action: "index", method: "GET" do |f| %>
        <% if ["dogs", "Dogs"].include? @animal_type %>
          <%= label_tag :breed, 'Dog Breed' %>
          <%= select_tag :breed, options_for_select(dog_breeds_list), include_blank: true, class: "select2" %>
        <% elsif ["cats", "Cats"].include? @animal_type %>
          <%= label_tag :breed, 'Cat Breed' %>
          <%= select_tag :breed, options_for_select(cat_breeds_list), include_blank: true, class: "select2" %>
        <% end %>

        <%= label_tag :color, 'Color' %>
        <%= select_tag :color, options_for_select([
            "Apricot / Beige", "Golden",
            "Bicolor",
            "Black",
            "Brindle",
            "Brown / Chocolate", "White / Cream",
            "Gray / Blue / Silver",
            "Harlequin",
            "Merle (Blue)",
            "Merle (Red)",
            "Red / Chestnut / Orange",
            "Sable",
            "Tricolor (Brown, Black, & White)",
            "Yellow / Tan / Blond / Fawn"
            ]), include_blank: true, class: "select2" %>
        <%= label_tag :animal_type, 'Animal Type' %>
        <%= select_tag :animal_type, options_for_select(["Cats", "Dogs"], @animal_type.capitalize), class: "select2" %>
        <%= label_tag :animal_age, 'Age' %>
        <%= select_tag :age_1, options_for_select(["Baby", "Young", "Adult", "Senior"]), include_blank: true, class: "select2" %>
        <%= submit_tag "Search for Pets", class: 'button--small' %>
      <% end %>
    </div>
  </div>
  <div class="pet-card--container">
    <% @pets.each do |pet_data| %>
      <% pet = pet_data["animal"] %>
      <% favorited = Favorite.already_favorited?(current_user, pet["id"]) %>
      <div class="panel">
        <%= button_to "", {
          controller: "favorites",
          action: "create",
          pet_id: pet["id"],
          pet_name: pet["name"],
          pet_age: pet["age"],
          pet_size: pet["size"],
          pet_gender: pet["sex"],
          pet_breed: pet["breeds_label"],
          pet_description: pet["description"],
          details: pet["attributes"],
          personality: pet["home_environment_attributes"],
          shelter: pet_data["organization"]["name"],
          phone: pet_data["contact"]["phone"],
          email: pet_data["contact"]["email"],
          status: pet["adoption_status"],
          avatar_url: pet["primary_photo_cropped_url"],
          photos_urls: pet["photo_urls"]
          }, class: "#{ favorited ? 'is-favorited' : 'not-favorited' }" %>
        <div class="pet-photo--container">
          <% if pet["primary_photo_cropped_url"] %>
            <%= image_tag(pet["primary_photo_cropped_url"]) %>
          <% else %>
            <%= image_tag("pet-icon.png") %>
          <% end %>
        </div>
        <button class="pet-data button-pet-details button--large" data-id='<%= pet["id"] %>'>
          <% if pet["name"] %>
            <%= pet["name"] %>
          <% end %>
        </button>
        <%= render 'details', pet_data: pet_data %>
      </div>
    <% end %>
  </div>
  <div class="map-container--outer">
    <div id="map" class="map-container--inner">
    </div>
  </div>
</div>
<div class="paginate--container">
  <div class="paginate--container--inner">
    <%= link_to "Previous Page", @previous_page, class: "paginate" unless @current_page <= 1 %>
    <%= link_to "Next Page", @next_page, class: "paginate" if @current_page < @total_pages %>
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
  </div>
</div>


<script> var locations = <%== @locations.to_json %>; </script>
<script src=<%="https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap"%>> </script>
