<div class="wrapper">
  <div class="header-fake">My header
    BREED: "<%= @breed %>", COLOR: "<%= @color %>", TYPE: "<%= @animal_type %>", AGE: "<%= @animal_age %>", RESULTS: "<%= @pets.count  %>"
  </div>
  <div class="pet-card--container">
    <% @pets.each do |pet_data| %>
      <% pet = pet_data["animal"] %>
      <div class="panel" data-id='<%= pet["id"] %>'>
        <button class="button-favorites">< 3</button>
        <div class="pet-data--container">
          <% if pet["name"] %>
            <h1><%= pet["name"] %></h1>
          <% end %>
        </div>

        <div class="pet-data--container">
          <div class="pet-photo--container">
            <% if pet["primary_photo_cropped_url"] %>
              <%= image_tag(pet["primary_photo_cropped_url"]) %>
            <% end %>
          </div>
        </div>

        <button class="pet-data button-pet-details button--large" data-id='<%= pet["id"] %>'>pet details</button>
        <%= render 'details', pet_data: pet_data %>
      </div>
    <% end %>
    <div class="paginate">
      <%= will_paginate @pets %>
    </div>
  </div>
  <div class="map-container--outer">
    <div id="map" class="map-container--inner">
    </div>
  </div>
</div>






<div id="locations" data-locations=<%= @locations.to_json %>></div>
<script>

  var map;
  var locations = document.getElementById("locations").getAttribute("data-locations");
  locations = JSON.parse(locations)

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 34.8526, lng: -82.3940},
      zoom: 8
    });

    var infoWindows = []

    locations.forEach(function(location) {
      var position = new google.maps.LatLng(parseFloat(location.latitude), parseFloat(location.longitude));
      var marker = new google.maps.Marker({
        position: position,
        map: map
      });

      var contentString = '<h1 id="firstHeading" class="firstHeading">HI</h1>';
      var infoWindow = new google.maps.InfoWindow({
        content: contentString
      });

      infoWindows.push(infoWindow)

      marker.addListener('click', function() {
        infoWindows.forEach(function(infoWindow) {
          infoWindow.close()
        })
        infoWindow.open(map, marker);
      });
    });
  }
</script>
<script src=<%="https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap"%>></script>

<%#= react_component("PhotoSlider", {
    books: Book.all
  }) %>
