<div class="wrapper">
  <div class="header-fake">My header
    BREED: "<%= @breed %>", COLOR: "<%= @color %>", TYPE: "<%= @animal_type %>", AGE: "<%= @animal_age %>", NUMBER OF RESULTS: "<%= @number_of_results  %>", CURRENT PAGE: "<%= @current_page %>"
    <%#= form_for do |f| %>
      <%#= f.label :breed, 'Pick Your Breed' %>
      <%#= f.text_field :breed %>
      <%#= f.label :color, 'Pick Your Breed' %>
      <%#= f.text_field :color %>
      <%#= f.label :animal_type, 'Pick Your Breed' %>
      <%#= f.text_field :animal_type %>
      <%#= f.label :animal_age, 'Pick Your Breed' %>
      <%#= f.text_field :animal_age %>
      <%#= f.submit "Search for Pets", class: 'button--large' %>
    <%# end %>
  </div>
  <div class="pet-card--container">
    <% @pets.each do |pet_data| %>
      <% pet = pet_data["animal"] %>
      <div class="panel" data-id='<%= pet["id"] %>'>
        <%= button_to "Favs", { controller: "favorites", action: "create", pet_id: pet["id"], pet_name: pet["name"] } %>
        <div class="pet-data--container">
          <% if pet["name"] %>
            <h1><%= pet["name"] %></h1>
          <% end %>
        </div>

        <div class="pet-data--container">
          <div class="pet-photo--container">
            <% if pet["primary_photo_cropped_url"] %>
              <%= image_tag(pet["primary_photo_cropped_url"]) %>
            <% end %>
          </div>
        </div>

        <button class="pet-data button-pet-details button--large" data-id='<%= pet["id"] %>'>pet details</button>
        <%= render 'details', pet_data: pet_data %>
      </div>
    <% end %>
  </div>
  <div class="map-container--outer">
    <div id="map" class="map-container--inner">
    </div>
  </div>
</div>
<div class="paginate--container">
  <div class="paginate--container--inner">
    <%= link_to "Previous Page", @previous_page, class: "paginate" unless @current_page <= 1 %>
    <%= link_to "Next Page", @next_page, class: "paginate" if @current_page < @total_pages %>
  </div>
</div>
<script> var locations = <%== @locations.to_json %>; </script>
<script src=<%="https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap"%>> </script>
