<%= @display %>
<br>
<br>
<br>
<!-- < @default["images"][0]["classifiers"][0]["name"] %> -->
<br>
<br>
<br>
<!-- animal: <= @result["images"][0]["classifiers"][0]["classes"][0]["class"] %>
score: <= @result["images"][0]["classifiers"][0]["classes"][0]["score"] %> -->
<br>
<br>
<br>
<!-- Percent Adult: <= custom["images"][0]["classifiers"][0]["classes"][0]["score"] %> -->



<div>
  <h1> Pets Available </h1>
  <% @pets.each do |pet| %>
  <div>
    <div>
      <h4 class="pet-data">Name: <%= pet.name %></h4>
      <h4 class="pet-data">Pet ID: <%= pet.id %></h4>
      <h4 class="pet-data"> Breed(s)</h4>
      <% pet.breeds.each do |breed| %>
        <ul>
          <li class="pet-data"><%= breed %></li>
        </ul>
      <% end %>
      <h4 class="pet-data">Status: <%= pet.status %></h4>
      <h4 class="pet-data">Age: <%= pet.age %></h4>
      <h4 class="pet-data">Size: <%= pet.size %></h4>
      <h4 class="pet-data">Sex: <%= pet.sex %></h4>
      <h4 class="pet-data">Pet Options</h4>
      <% pet.options.each do |option| %>
        <ul>
          <li class="pet-data"><%= option %></li>
        </ul>
      <% end %>
      <h4 class="pet-data">Description: <%= pet.description %></h4>
      <h4 class="pet-data">Pictures </h4>
      <% pet.photos.each do |photo| %>
        <!-- <h5> <= photo.inspect  %> </h5> -->
        <ul>
          <li><%= image_tag photo.medium %></li>
        </ul>
      <% end %>
      <h4 class="pet-data">Shelter: <%= pet.shelter_id %></h4>
    </div>
  </div>
  <% end %>
</div>
