<%= @default %>
<br>
<br>
<br>
<%= @custom %>



<div>
  <h1> Pets Available </h1>
  <% @pets.each do |pet| %>
  <div>
    <div>
      <h4><%= pet.name %></h4>
      <h4><%= pet.id %></h4>
      <% pet.breeds.each do |breed| %>
        <h4><%= breed %></h4>
      <% end %>
      <h4><%= pet.status %></h4>
      <h4><%= pet.age %></h4>
      <h4><%= pet.size %></h4>
      <h4><%= pet.sex %></h4>
      <% pet.options.each do |option| %>
        <h4><%= option %></h4>
      <% end %>
      <h4><%= pet.description %></h4>
      <% pet.photos.each do |photo| %>
        <!-- <h5> <= photo.inspect  %> </h5> -->
        <h4><%= image_tag photo.medium %></h4>
      <% end %>
      <h4><%= pet.shelter_id %></h4>

    </div>
  </div>
  <% end %>
</div>
