<div class="wrapper">
  <div class="header-fake">My header
    <h1> TAKE OUT (Pets Available searching "<%= @breed %>")</h1>
    <h1> TAKE OUT (Pets Available searching "<%= @color %>")</h1>
    <h1> TAKE OUT (Pets Available searching "<%= @animal_type %>")</h1>
    <h1> TAKE OUT (Pets Available searching "<%= @animal_age %>")</h1>
  </div>
  <div class="pet-card--container">
    <% @pets.each do |pet_data| %>
    <% pet = pet_data["animal"] %>
    <div class="panel">
      <div class="pet-data-container">
        <% if pet["name"] %>
          <h1><%= pet["name"] %></h1>
        <% end %>
      </div>

      <div class="pet-data-container">
        <div class="pet-photo-container">
          <% if pet["primary_photo_cropped_url"] %>
            <%= image_tag(pet["primary_photo_cropped_url"]) %>
          <% end %>
        </div>
      </div>


      <button class="pet-data pet-info-button button-large">More Info...</button>
      <div class="pet-details hidden">

        <div class="pet-data-container">
          <% if pet["breeds_label"] %>
            <h2>I'm a <%= pet["breeds_label"] %>!</h2>
          <% end %>
        </div>

        <div class="pet-data-container">
          <% if pet["adoption_status"] %>
            <h2 class="pet-data">Status: </h2>
            <h3><%= pet["adoption_status"] %></h3>
          <% end %>
        </div>

        <div class="pet-data-container">
          <% if pet["sex"] %>
            <h2 class="pet-data">Sex: </h2>
            <h3><%= pet["sex"] %></h3>
          <% end %>
        </div>


        <div class="pet-data-container">
          <% if pet["age"] %>
            <h2 class="pet-data">Age: </h2>
            <h3><%= pet["age"] %></h3>
          <% end %>
        </div>

        <div class="pet-data-container">
          <% if pet["size"] %>
            <h2 class="pet-data">Size: </h2>
            <h3><%= pet["size"] %></h3>
          <% end %>
        </div>

        <div class="pet-data-container">
          <% if pet["attributes"] %>
            <h2 class="pet-data">Other Details: </h2>
              <% pet["attributes"].each do |attribute| %>
                <ul>
                  <li><%= attribute %></li>
                </ul>
              <% end %>
          <% end %>
        </div>

        <div class="pet-data-container">
          <% if pet["home_environment_attributes"] %>
            <h2 class="pet-data">Personality: </h2>
              <% pet["home_environment_attributes"].each do |key, value| %>
                <ul>
                  <li><%= key %>: <%= value %></li>
                </ul>
              <% end %>
          <% end %>
        </div>

        <div class="pet-data-container">
          <% if pet["description"] %>
            <h2 class="pet-data">Description: </h2>
            <h3><%= pet["description"] %></h3>
          <% end %>
        </div>

        <div class="pet-data-container">
          <% if pet_data["organization"] %>
            <h2 class="pet-data">Shelter: </h2>
            <h3><%= pet_data["organization"]["name"] %></h3>
          <% end %>
        </div>

        <div class="pet-data-container">
          <% if pet_data["contact"] %>
            <h2 class="pet-data">Email: </h2>
            <h3><%= pet_data["contact"]["email"] %></h3>
            <br>
            <h2 class="pet-data">Phone: </h2>
            <h3><%= pet_data["contact"]["phone"] %></h3>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="map--container-outer">
    <div id="map" class="map--container-inner">
    </div>
  </div>

</div>

    <div id="locations" data-locations=<%= @locations.to_json %>></div>
    <script>

      var map;
      var locations = document.getElementById("locations").getAttribute("data-locations");
      locations = JSON.parse(locations)
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
        locations.forEach(function(location) {
          position = new google.maps.LatLng(parseFloat(location.latitude), parseFloat(location.longitude));
          new google.maps.Marker({position: position, map: map});
          // new google.maps.InfoWindow()
        })
      }
    </script>
    <script src=<%="https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap"%>></script>

<%#= react_component("PhotoSlider", {
    books: Book.all
  }) %>
