<!DOCTYPE html>
<html>
  <head>
    <title>LifePawtners</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto:100,300,400"' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="title">
    <%= link_to(image_tag("pawprint.png", class: "icon-logo"), root_path) %>
    <% if current_user %>
    <!-- <= link_to "Favorites" if current_user.signed_in? %> -->
      <%= link_to "Account", edit_user_registration_path %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %>
      <%= link_to "Create an Account", new_user_registration_path %>
    <% end %>
  </header>
  <body>
  <!-- <body class="hero"> -->
    <section>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>
    <%= yield %>
  </body>
</html>
